@import 'assets/styles/variables.scss';

.line-chart-container {
    height: 400px;
    width: 100%;

    @media screen and (max-width: $media-md) {
        height: 300px;
        max-width: 100%;
    }
}