@import 'assets/styles/variables.scss';

.home {
    .cover-photo {
        height: 100vh;
    }

    .cover-content {
        color: white;

        hr {
            border-color: white;
        }
    }

    .jarallax-img {
        filter: brightness(0.8);
    }

    h4 {
        font-weight: 300;
    }

    .icon {
        height: 75px;
        fill: $iconColor;
    }

    .streak {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &-mask {
            color: $secondaryTextColor;
            min-height: 300px;

            &--light {
                background: rgba(23,162,184, 0.5);
            }

            &--dark {
                background: rgba(0,0,0,0.7);
            }

            @media screen and (min-width: $media-md) {
                height: 400px;
            }
        }

        h2 {
            @media screen and (max-width: $media-md) {
                font-size: 1.5rem;
            }
        }
    }

    footer {
        background-color: rgba(0,0,0,0.9);
        color: rgba(255,255,255,.6);

        a {
            color: #fff;
        }
    }
}