service cloud.firestore {
  match /databases/{database}/documents {
    match /days/{dayId} {
      allow read, write, delete: if request.auth.uid == resource.data.user
      allow create
    }

    match /entries/{entryId} {
        allow read, write, delete: if request.auth.uid == resource.data.user
        allow create
    }
  }
}