
$padding-default: 1.5rem;
$margin-default: 1.5rem;
$margin-big: 5rem;
$padding-big: 5rem;
$margin-medium: 3rem;
$padding-medium: 3rem;
$margin-small: 1rem;
$padding-small: 1rem;
$padding-x-small: 0.5rem;