
$padding-default: 1rem;
$margin-default: 1rem;
$margin-big: 4rem;
$padding-big: 4rem;
$margin-medium: 2rem;
$padding-medium: 2rem;
$margin-small: 0.5rem;
$padding-small: 0.5rem;
$padding-x-small: 0.5rem;