nav {
    transition: background .25s ease-in-out,padding .25s ease-in-out;

    &.top {
        background-color: transparent !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}