@import './variables';

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    // font-size: 62.5%;
    overflow-y: scroll;
}

.text {
    &-bold {
        font-weight: bold;
    }

    &-right {
        text-align: right;
    }
}

.clickable {
    cursor: pointer;
}

form {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.streak {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &-mask {
        min-height: 200px;
        background: rgba(0,0,0,0.7);

        @media screen and (min-width: $media-md) {
            height: 200px;
        }
    }
}